* {
    padding: 0;
    margin: 0;
}

/* color setting */
.primary {
    background: #f04646;
    color: #fff;
    border: none;
}
.primary:hover {
    background: #fff;
    color: #f04646;
    border: 1px solid #f04646;
}
/* setting text */
.textCenter {
    text-align: center;
}
.borderR {
    border: 1px solid red;
}
.borderB {
    border: 1px solid blue;
}
.margintop {
    margin-top: 4rem;
}
/* card image */


